<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="csv_holder">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<% @users.each do |user| %>
    <div>
      <p>
        <div class="col-md-11 col-md-offset-1">
          <!--< if current_user.admin? && !current_user?(user) %>これは使わない方がいい。重くなる。解説は倉谷さんスラック過去質問にて。!current_user?(user)が、管理者を非表示にしている --> 
          <%= user.name %><br>
          <%= link_to "削除", user, method: :delete,
                                    data: { confirm: "削除してもよろしいですか？" },
                                    class: "btn btn-primary btn-default" %><br>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" class="btn btn-primary btn-lg">編集</button>
                </h4>
              </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'user', user: user %></div>
              </div>
            </div>
          <!-- end %>-->
        </div>
      </p>
    </div>
<% end %>
