
<div class="container">
  <h1>拠点一覧</h1>
    <table class="table table-bordered table-condensed user-table">
      <tbody>
        <thead>
          <tr>
            <td></td>
            <td></td>
            <td>拠点番号</td>
            <td>拠点名</td>
            <td>勤怠種類</td>
          </tr>
        </thead>
        
        <% @bases.each do |base| %>
          <tr>
            <td>
              <%= link_to "修正", edit_basis_url(base) , class: "btn btn-primary" %>
            </td>
            <td><%= link_to "削除", base, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
            <td><%= base.base_id %></td>
            <td><%= base.base_name %></td>
            <td><%= base.base_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "拠点情報の追加", new_basis_url, class: "btn btn-lg btn-primary" %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>