<div>
  <h1>サンプル勤怠ログ</h1>
  
  <%= search_form_for @search, url: attendances_sample_log_user_path do |f| %>
    <%= f.date_field :updated_at_gteq %>
    <span>~</span>
    <%= f.date_field :updated_at_lteq_end_of_day %>
    <%= f.submit "検索", class: 'btn btn-primary' %>
  <%end%>
  <%= link_to "リセット", attendances_sample_log_user_path, class: "btn btn-info" %>
     
     
  
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    
    
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= l(day.edit_day_started_at, format: :time) if day.edit_day_started_at.present? %></td>
          <td><%= l(day.edit_day_finished_at, format: :time) if day.edit_day_finished_at.present? %></td>
          <td><%= l(day.last_edit_day_started_at, format: :time) if day.last_edit_day_started_at.present? %></td>
          <td><%= l(day.last_edit_day_finished_at, format: :time) if day.last_edit_day_finished_at.present? %></td>
          <td><%= User.find(day.edit_day_request_superior).name %></td>
          <td><%= l(day.updated_at, format: :middle) %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>