<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">サンプル</h1>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>終了予定時間</th>
            <th>翌日</th>
            <th>業務処理内容</th>
            <th>指示者確認印</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @attendance.worked_on %></td>
              <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
              <td><%= time_select :test, class: 'test' %></td>
              <td><%= check_box :test, id: "test" %></td>
              <td><%= text_field :test, class: 'test' %></td>
              <td>
                <select>
                  <option value="3"></option>
                  <option value="3">上長A</option>
                  <option value="3">上長B</option>
                </select>
              </td>
            </tr>
        </tbody>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>

