<div>
  <h1>検索ボタン押下後の勤怠ログ</h1>
  
  <%= form_with(scope: :search, url: attendances_sample_log_user_path, method: :get, local: true) do |f| %>
      <%= f.date_field :edit_day_request_status %>
     <span>~</span>
     <%= f.date_field :edit_day_request_status %>
     <div class="col-auto">
       <%= f.submit "検索", class: 'btn btn-primary' %>
    </div>
  <%end%>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td><%= l(day.edit_day_started_at, format: :time) %></td>
          <td><%= l(day.edit_day_finished_at, format: :time) %></td>
          <td><%= User.find(day.edit_day_request_superior).name %></td>
          <td><%= l(day.updated_at, format: :middle) %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>